/* UNIVERSAL */
a {
  text-decoration: none;
}

.package-list-title, .noTracked, .loading, .form-header, .noPkgs, .intro {
  text-align: center;
}

.error {
  margin-left: 5%;
  margin-right: 5%;
  color: orangered;
  text-align: center;
}

/* HOME PAGE  */

.driver {
  max-height: 50vh;
}

.notLoggedIn {
  padding: 0 5% 0 5%;

}


.boxes-pic {
  border-radius: 15px;
  align-items: center;
}


/* NOMATCH  */

.lost-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PACKAGE LIST  */
.package-list {
  margin-bottom: 3%;
}

.packagesdiv {
  width: 100vw
}

.package-grid-item {
  min-width: 30vw;
  height: 20vh;
}

.tracking-number .carrier {
font-weight: 500;
}

.package-card {
  margin-bottom: 1%;
  margin-top: 1%;
  min-height: 10vh;
}


/* PROFILE  */

.profile-page {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* SIGNUP AND LOGIN  */

.user-form {
  min-height: 35vh;
  min-width: 100vw
}

.form-input {
  min-width: 20vw;
}

/* SINGLEPACKAGE  */

.delPic {
  max-height: 10%;
}

.delStatusPic {
  max-height: 100%;
}

.carrier-pic {
width: 25vw
}


/* HEADER  */

header {
  background-image:url(./assets/images/buncha-boxes.jpg);
  background-size: cover;
  width: 100vw;
}

#menu-button {
  background-color: #4db6ac;
  color: black;
  font-weight: 500;
}
.title {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #71f7e9;
  text-shadow: black 2px 2px 4px;
}

.what-to-do {
  margin-top: 1.5%;
}

/* FOOTER  */

.footer{
  position:fixed;
  text-align: end;
  bottom: 0;
  width: 90vw;
}

/* PACKAGE FORM  */

.tracking-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 15%;
  width: 100%;
  height: 20vh;
}

.submit-button {
  color: #4db6ac;
  width: 20%;
  align-self: center;
}

.trackingSubmit {
  align-self: center;
  }

/* MEDIA QUERIES  */

@media  only screen and (max-width: 1150px ) {
  .package-grid-item {
    min-width: 45vw;
  }
}

@media  only screen and (max-width: 850px ) {
  .boxes-pic {
    max-width: 50%;
    margin-left: 25%;
  }
}

@media  only screen and (max-width: 450px ) {
  .package-grid-item {
    min-width: 95vw;
  }
}








